{% extends 'base.html' %}
{% load static %}

{% block container %}

    <div class="slider-area">
        <div class="zigzag-bottom"></div>
        <div id="slide-list" class="carousel carousel-fade slide"
             data-ride="carousel">
            <div class="slide-bulletz">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <ol class="carousel-indicators slide-indicators">
                                <li data-target="#slide-list" data-slide-to="0"
                                    class="active"></li>
                                <li data-target="#slide-list"
                                    data-slide-to="1"></li>
                                <li data-target="#slide-list"
                                    data-slide-to="2"></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="single-slide">
                        <div class="slide-bg slide-one"></div>
                        <div class="slide-text-wrapper">
                            <div class="slide-text">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6 col-md-offset-6">
                                            <div class="slide-content">
                                                <h2>Обігові монети України</h2>
                                                <p>Монети Національного банку
                                                    України,
                                                    викарбувані масовим тиражем
                                                    для обігу, на відміну від
                                                    пам'ятних
                                                    та ювілейних монет, що
                                                    мають обмежений тираж та
                                                    підвищену якість
                                                    карбування.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="single-slide">
                        <div class="slide-bg slide-two"></div>
                        <div class="slide-text-wrapper">
                            <div class="slide-text">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6 col-md-offset-6">
                                            <div class="slide-content">
                                                <h2>Інвестиційні монети</h2>
                                                <p>Інвестиційні монети України
                                                    – монети, вироблені з
                                                    дорогоцінних металів
                                                    з пробами для золота –
                                                    999,9, для срібла – 999,9,
                                                    які призначені для
                                                    інвестування та
                                                    накопичення.</p>
                                                <p> Такі монети віднесені до
                                                    категорії банківських
                                                    металів.
                                                    Номінальна вартість
                                                    інвестиційних монет значно
                                                    нижча від
                                                    вартості дорогоцінного
                                                    металу, з якого вони
                                                    відкарбовані.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="single-slide">
                        <div class="slide-bg slide-three"></div>
                        <div class="slide-text-wrapper">
                            <div class="slide-text">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6 col-md-offset-6">
                                            <div class="slide-content">
                                                <h2>Сувенірні монети</h2>
                                                <p>Монети мають художню
                                                    цінність. Їх карбують із
                                                    дорогоцінних та
                                                    недорогоцінних металів
                                                    обмеженими тиражами</p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div> <!-- End slider area -->

{% endblock container %}